*.cache
*.suo
*.suo
*.suo
MDW_GuessNumberGame/MDW_GuessNumberGame.v11.suo
MDW_GuessNumberGame/MDW_GuessNumberGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
MDW_GuessNumberGame/MDW_GuessNumberGame.v11.suo
MDW_GuessNumberGame/MDW_GuessNumberGame.v11.suo
MDW_GuessNumberGame/MDW_GuessNumberGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
MDW_GuessNumberGame/MDW_GuessNumberGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MDW_GuessNumberGame/MDW_GuessNumberGame/IPortal.cs
MDW_GuessNumberGame/MDW_GuessNumberGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache